@import "source-sans.scss";

.commento-root-min-height {
  min-height: 350px;
}

.commento-root {
  overflow-x: hidden;
  padding: 0px;
  all: unset;

  * {
    all: unset;
    display: block;
    font-family: "Source Sans Pro", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #50596c;
    text-rendering: optimizeLegibility;
  }

  @import "colors-main.scss";
  @import "commento-common.scss";
  @import "commento-logged.scss";     // Logged in as <name>
  @import "commento-mod-tools.scss";  // Moderator tools and buttons
  @import "commento-input.scss";      // Textarea, anonymous checkbox, submit button
  @import "commento-card.scss";       // Each comment card
  @import "commento-login.scss";      // Popup box when logging in
  @import "commento-footer.scss";     // Powered by Commento

  .commento-hidden {
    display: none;
  }

  .commento-blurred {
    filter: blur(4px);
  }

  .commento-main-area {
    transition: filter 0.2s;
  }

  .commento-error-box {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $red-7;
    font-weight: 700;
  }

  .commento-moderation-notice {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $orange-7;
    font-weight: 700;
    margin-top: 16px;
  }
}
