@import "colors-main.scss";

.commento-card {
  @import "commento-options.scss"; // SVG buttons to the right of each comment

  padding: 12px 0px 0px 12px;
  margin-top: 16px;
  border-top: 1px solid #f0f0f0;

  .commento-header {
    padding-bottom: 4px;
  }

  .commento-avatar::after {
    content:"";
    display:block;
  }

  .commento-name {
    font-weight: 700;
    font-size: 14px;
    color: #555;
    border: none;
    display: block;
    z-index: 1;
    margin-left: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
  }

  .commento-flagged::after {
    content: "Flagged";
    text-transform: uppercase;
    font-size: 10px;
    background: $red-7;
    color: white;
    margin-left: 8px;
    padding: 2px 6px 2px 6px;
    border-radius: 100px;
  }

  .commento-subtitle {
    display: block;
    color: #999;
    font-size: 12px;
    margin-left: 48px;
  }

  .commento-timeago {
    display: inline;
    color: #888;
    font-size: 12px;
  }

  .commento-score {
    display: inline;
    color: #888;
    font-size: 12px;
    font-weight: 700;
  }

  .commento-timeago::before {
    content: "\00a0 \00a0 \00b7 \00a0 \00a0";
  }

  .commento-body {
    p {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  .commento-options {
    float: right;
    position: relative;
    height: 38px;
    z-index: 2;
  }

  .commento-options-mobile {
    margin-right: 12px;
  }

  .commento-options-clearfix {
    height: 38px;
    width: 1px;
    display: block;
  }

  .commento-moderation {
    height: 48px;
  }
}

.commento-dark-card {
  background: $red-0;
}

.commento-highlighted-card {
  background: $yellow-0;
}

// do not place this inside .commento-card as this is used by logged-container
// as well
.commento-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  float: left;
  margin-right: 10px;
  border: 0px transparent;
}

.commento-avatar-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10px;
}
